/*
.thumbnail {
	width: 50px;
	height: 50px;

	border: 1px solid $default-border-color;
	background-image: url(#{$img-path}img/user--default.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.thumbnail--rounded {
	overflow: hidden;

	border-radius: 100%;
}
*/
