// $red: #D30031;
$white: #FFFFFF;
// $grey1: #F7F7F7;
// $grey2: #DDDDDD;
// $grey3: #888888;
$black: #2A2B2D;
// // $blue: #D3DDEA;
// $blue: #00BFD5;
$orange: #E37222;
// // APLICACIONES
$color-primary: $orange;
$color-text: $white;
// $headings-color: $black;
// $text-contratipo: $white;
// $bg-color: $white;
// $bg-color--dark: $black;
// $bg-color--middle: $grey1;
// // $main-bgcolor: $azul-light;
// $secondary-color: $blue;
// $brand-primary: $red;
// $default-border-color: $grey2;
// // $op-red-color: $rojo;
// // $op-blue-color: $turquesa;
// // $danger-color: $rojo-corazon;
// // $warning-color: #FF9900;
// // $success-color: $verde;
// // $fill-color: #FFFFFF;
// // $stroke-color: #000000;
// //ESPACIOS
$default-padding: 1rem;
// $page-padding: $default-padding*2;
$max-width: 86rem;
// // $padding-base-vertical: 10px;
// // $padding-base-horizontal: 15px;
// // $padding-large-vertical: 15px;
// // $padding-large-horizontal: 18px;
// // $padding-small-vertical: 6px;
// // $padding-small-horizontal: 12px;
// // $padding-xs-vertical: 2px;
// // $padding-xs-horizontal: 6px;
// // $line-height-large: 1.3333333;
// // $line-height-small: 1.5;
// // $border-radius-base: 1px;
// // $border-radius-large: 2px;
// // $border-radius-small: 0;
// //TAMAÑOS
// $breakpoint--md: 703px;
// $breakpoint--lg: 880px;
// //TRANSICIONES Y EFECTOS
$default-transition: .4s ease-out;
// $default-shadow: 0 0 2px rgba(0, 0, 0, .5);
// $thin-shadow: 0 0 1px rgba(0, 0, 0, .2);
// $wide-shadow: 0 0 10px rgba(0, 0, 0, .2);
// $border-radius-base: 2px;
// //TIPOGRAFIA
// // $font-primary: 'Nunito Sans',
// // sans-serif;
// // $font-secondary: 'Enriqueta',
// // Courier Bold,
// // Courier,
// // Georgia,
// // Times,
// // Times New Roman,
// // serif;
// // $font-size-base: 16px;
// // $text-shadow--default: 0 0 1em rgba(0, 0, 0, .5);
// // $font-size-large: ceil(($font-size-base * 1.25)) !default;
// // $font-size-small: ceil(($font-size-base * .85)) !default;
// //LAYOUT
// //CODIGOS DE ICONOS
// //== Buttons
